body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 92.5%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1e40af;
}

.link {
  margin-top: 15px;
  font-size: 13px;
}

.link a {
  text-decoration: none;
  color: #2563eb;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}