<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <div id="app">
      <button class="logout-button">Log Out</button>
      <textarea name="input" id="input" cols="30" rows="10" placeholder="Enter Arabic text to translate"></textarea>
      <br/>
      <button id="translate" class="translate-button">Translate</button>
      <br/>
        <select id="direction" disabled title="Must be an admin to use">
          <option value="ar-en">Arabic → English</option>
          <option value="en-ar">English → Arabic</option>
        </select>
      <br/>
      <textarea name="output" id="output" cols="30" rows="10"></textarea>
    </div>
    <script>
      const button = document.getElementById("translate");
      button.addEventListener("click", async () => {
        const inputText = document.getElementById("input").value;
        const direction = document.getElementById("direction").value;

        let source = direction === "ar-en" ? "ar" : "en";
        let target = direction === "ar-en" ? "en" : "ar";

        const token = localStorage.getItem("token");
        if (!token) return alert("Not logged in");

        const response = await fetch("/translate", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token
          },
          body: JSON.stringify({ text: inputText, source, target })
        });
        const data = await response.json();
        if (data.translated_text) {
          document.getElementById("output").value = data.translated_text;
        } else {
          alert(data.error);
        }
      });

      const logoutButton = document.querySelector(".logout-button");
      logoutButton.addEventListener("click", async () => {
        localStorage.removeItem("jwt");
        window.location.href = "/";
      });
      </script>
  </body>
</html>