<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

  <div class="card">
    <h2>Login</h2>

    <div id="error" class="error"></div>
    <form id="loginForm">
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button id="submit">Login</button>
    </form>
    <div class="link">
      Don't have an account?
      <a href="/signup-page">Sign up</a>
    </div>
  </div>

  <script>
    const form = document.getElementById("loginForm");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
      const errorDiv = document.getElementById("error");

      const response = await fetch("/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
      });

      const data = await response.json();

      if (data.token) {
        // store token
        localStorage.setItem("token", data.token);

        // redirect based on role (simple & correct)
        if (data.is_admin == 1) {
          window.location.href = "/admin-dashboard";
        } else {
          window.location.href = "/translator";
        }

      } else {
        errorDiv.textContent = data.error;
      }
    });
  </script>

</body>
</html>